body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* .wrapper {
  max-width: 1280px;
  margin: auto;
} */

/* .header {
  background: #0e3fa9;
  margin-bottom: 2em;
  text-align: center;
}
.header img {
  width: 200px;
  position: relative;
  top: 20px;
  filter: drop-shadow(3px 3px 0 #f2a30c);
} */

.actions {
  display: flex;
  gap: 21px;
  padding: 1em 0 2em;
}
.actions > * {
  position: relative;
}
.actions > *::after {
  content: "/";
  color: #3f69ff;
  display: inline-flex;
  position: absolute;
  left: calc(100% + 10px);
  text-align: center;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
}
.actions > *::after:last-child {
  display: none;
}

/* form {
  border: 1px solid red;
  min-width: 320px;
  display: flex;
  gap: .5em;
} */
/* input {
  font-size: 1rem;
  font-family: system-ui;
  padding: .5em 1em;
  flex: 1;
} */
/* select {
  font-size: 1rem;
  padding: 0 1em;
  border-radius: .5em;
} */
/* button {
  font-size: 1rem;
  background: #3f69ff;
  padding: 1em;
  color: white;
  border: none;
  border-radius: .5em;
} */

/* .movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  box-sizing: border-box;
  gap: 1em;
} */


.movie {
  position: relative;
  transition: 1s;
}
.movie.recommended img {
  border: 2px solid goldenrod;
  box-sizing: border-box;
  perspective-origin: top;
  animation: recommended 1s forwards;
}

@keyframes recommended {
  to {
    transform: perspective(500px) rotate3d(0, -1, 0, 25deg);
  }
}
.movie.recommended .movie-rate {
  background-color: goldenrod;
  box-shadow: 0 0 0 2px goldenrod;
}

.movie-poster {
  max-width: 100%;
  width: 100%;
  border-radius: .7em;
}

.movie-title {
  font-weight: bold;
}

.movie-rate {
  position: absolute;
  left: 1em;
  top: 1em;
  background: #839eff;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px #3f69ff;
}
